@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #303030;
    font-family: "Roboto", Helvetica;
}

#root {
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    height: calc(100vh - 86px);
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.0);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #555555;
}

.scrollbar {
    scrollbar-color: #555555 rgba(0,0,0,0.0);
}

header {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav {
    height: 30px;
    padding-left: 17px;
}

#title {
    color: #bfbfbf;
    font-size: 26px;
    font-family: "Fjalla One", Helvetica;
    line-height: 0.7;
    padding-right: 27px;
    transform: translateY(25px);
}

#title > span {
    color: #bfbfbf;
    font-size: 16px;
    font-family: "Roboto Condensed", Helvetica;
}

.icon-container {
    display: inline-block;
}

nav > .icon-container {
    height: 30px;
    margin-right: 10px;
}

button {
    background-color: #303030;
    border-width: 0;
    cursor: pointer;
}

button > svg {
    fill: #bfbfbf;
}

button:hover > svg {
    fill: #ffffff;
}

button:disabled > svg {
    fill: #555555
}

.icon-tooltip {
    display: none;
    background-color: #0f0f0f;
    color: #bfbfbf;
    font-size: 12px;
    opacity: 0;
    position: absolute;
    padding: 5px 10px;
    border-radius: 3px;
    animation: fade-in 0.25s ease-in;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.icon-tooltip-arrow {
    display: none;
    fill: #0f0f0f;
    opacity: 0;
    animation: fade-in 0.25s ease-in;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

.pictures {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0;
    animation: fade-in 0.25s ease-in;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.section-label {
    color: #bfbfbf;
    font-size: 13px;
    height: 23px;
    padding: 0 0 10px 12px;
}

.mini-toolbar {
    height: 30px;
    padding-left: 12px;
}

.mini-toolbar > .icon-container {
    margin-right: 3px;
}

select, select:focus,
textarea, textarea:focus,
input, input:focus {
    border-width: 0;
    outline: none;
}

#explorer {
    grid-column: 1 / 2;
    margin-left: 5px;
}

select {
    background-color: #1e1e1e;
    color: #bfbfbf;
    font-family: "Roboto Condensed", Helvetica;
    font-size: 18px;
    line-height: 1.2;
    width: calc(100% - 10px);
    height: calc(100vh - 141px);
    overflow-y: auto;
}

option {
    height: 32px;
    padding: 5px 12px;
}

#editor {
    grid-column: 2 / 3;
}

#editor > input {
    background-color: #252525;
    color: #eeeeee;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    width: calc(100% - 10px);
    height: 38px;
    padding: 2.5px 0 5px 10px;
    margin-bottom: 5px;
    user-select: auto;
}

textarea {
    background-color: #252525;
    color: #eeeeee;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    line-height: 1.2;
    width: calc(100% - 10px);
    height: calc(100vh - 184px);
    padding: 7.5px 10px;
    resize: none;
    white-space: pre;
    overflow-y: scroll;
    user-select: auto;
}

#output {
    grid-column: 3 / 4;
}

#text-display {
    background-color: #1e1e1e;
    color: #dddddd;
    font-size: 18px;
    line-height: 1.2;
    width: calc(100% - 5px);
    height: calc(100vh - 141px);
    padding: 7.5px 10px;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: scroll;
}

span {
    color: red;
}

footer {
    color: #bfbfbf;
    font-size: 13px;
    height: 25px;
    padding: 4px 12px 8px 17px;
}

.dialog-screen {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.dialog-box {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    background-color: #1e1e1e;
    color: #eeeeee;
    width: 450px;
    height: 150px;
    padding: 25px;
    border: 1px solid #555555;
    border-radius: 8px;
    box-shadow: 5px 5px 15px 5px #1e1e1e;
}

.dialog-box > input {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    background-color: #252525;
    color: #eeeeee;
    font-family: "Roboto Condensed", Helvetica;
    font-size: 18px;
    height: 38px;
    padding: 0px 6px;
    border: 1px solid #555555;
    user-select: auto;
}

.dialog-text {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    line-height: 1.5;
}

.dialog-button {
    background-color: #252525;
    color: #eeeeee;
    font-family: "Roboto Condensed", Helvetica;
    font-size: 15px;
    border: 1px solid #555555;
    border-radius: 4px;
    margin: 0px 0 0 5px;
    box-shadow: 1px 1px 5px 1px #0f0f0f;
}

.dialog-button:hover {
    background-color: #303030;
    color: #ffffff;
}

.dialog-button:active {
    box-shadow: none;
    transform: translate(1px, 1px);
}

.dialog-button:disabled {
    background-color: #252525;
    color: #555555;
}

.dialog-button:disabled:active {
    box-shadow: 1px 1px 5px 1px #0f0f0f;
    transform: none;
}

.button-1 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.button-2 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.button-3 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}
