@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #353535;
    font-family: "Roboto", Helvetica;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #353535;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #555555;
}

#root {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: 50px calc(100vh - 52px);
    width: 100vw;
    height: 100vh;
}

#menu {
    grid-column: 1 / 4;
    height: 50px;
}

#text-select-container {
    grid-column: 1 / 2;
}

#text-input-container {
    grid-column: 2 / 3;
}

#text-display-container {
    grid-column: 3 / 4;
}

.section-label {
    color: #ffffff;
    font-size: 13px;
    height: 25px;
    padding: 6px 12px;
}

.toolbar {
    height: 25px;
}

#text-select-container > select {
    background-color: #1e1e1e;
    color: #ffffff;
    font-family: "Roboto Condensed", Helvetica;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 129px);
}

select > option {
    padding: 5px 10px;
}

#text-input-container > input {
    background-color: #252525;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    width: 100%;
    padding: 5px 10px;
}

select, select:focus, textarea, textarea:focus, input, input:focus {
    border-width: 0;
    outline:none;
}

#text-input-container > textarea {
    background-color: #252525;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 163px);
    padding: 12.5px 10px;
    resize: none;
    white-space: nowrap;
    overflow-y: scroll;
}

#text-display {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 129px);
    padding: 7.5px 10px;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: scroll;
    user-select: none;
}

#new-text-window {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

#delete-text-window {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
