@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Helvetica;
}

#editor {
    display: grid;
    grid-template-columns: calc(14% - 40px) 43% 43%;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
    padding: 20px;
}

#text-select-container > select {
    font-family: "Roboto Condensed", Helvetica;
    font-size: 1rem;
    width: 100%;
    height: calc(100vh - 40px);
}

select > option {
    padding: 2.5px 5px;
}

#text-input-container > textarea {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 80px);
    padding: 12.5px 10px;
    resize: none;
    white-space: nowrap;
    overflow-y: scroll;
}

#text-input-container > input {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    width: 100%;
    padding: 5px 10px
}

#text-display-container {
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 40px);
    padding: 7.5px 10px;
    border: 1px solid #000000;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: scroll;
    user-select: none;
}

#start-menu {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    height: 100vh;
}

.start-button {
    width: 50px;
    margin: 5px;
}

#new-text-window {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
}
