@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #303030;
    font-family: "Roboto", Helvetica;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #303030;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #555555;
}

#root {
    display: grid;
    grid-template-columns: 15% 42.5% 42.5%;
    grid-template-rows: 60px calc(100vh - 62px);
    width: 100vw;
    height: 100vh;
}

#menu {
    grid-column: 1 / 4;
    height: 60px;
}

.toolbar {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
    align-items: center;
    padding: 10px 12px 20px 12px;
}

.toolbar > button {
    margin-right: 10px;
}

.toolbar > button > svg {
    vertical-align: bottom;
}

button:hover > svg {
    fill: #ffffff;
}

#explorer {
    grid-column: 1 / 2;
}

#editor {
    grid-column: 2 / 3;
}

#output {
    grid-column: 3 / 4;
}

.section-label {
    color: #bfbfbf;
    font-size: 13px;
    height: 23px;
    padding: 0 0 10px 12px;
}

.mini-toolbar {
    height: 30px;
    padding-left: 12px;
}

.mini-toolbar > button {
    margin-right: 3px;
}

#explorer > select {
    background-color: #1e1e1e;
    color: #bfbfbf;
    font-family: "Roboto Condensed", Helvetica;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 117px);
}

select > option {
    height: 32px;
    padding: 5px 10px;
}

#editor > input {
    background-color: #252525;
    color: #eeeeee;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    width: calc(100% - 10px);
    height: 38px;
    padding: 2.5px 0 5px 10px;
    margin-bottom: 5px;
    user-select: auto;
}

button {
    cursor: pointer;
}

select, select:focus, textarea, textarea:focus, input, input:focus {
    border-width: 0;
    outline: none;
}

#editor > textarea {
    background-color: #252525;
    color: #eeeeee;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 160px);
    padding: 7.5px 10px;
    resize: none;
    white-space: pre;
    overflow-y: scroll;
    user-select: auto;
}

#text-display {
    background-color: #1e1e1e;
    color: #dddddd;
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
    height: calc(100vh - 117px);
    padding: 7.5px 10px;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-y: scroll;
}

.dialog-screen {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.dialog-box {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(4, 25%);
    background-color: #1e1e1e;
    color: #eeeeee;
    width: 450px;
    height: 150px;
    padding: 25px;
    border: 1px solid #555555;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 5px #1e1e1e;
}

.dialog-box > input {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    background-color: #252525;
    color: #eeeeee;
    font-family: "Roboto Condensed", Helvetica;
    font-size: 18px;
    height: 30px;
    padding: 0px 4px;
    border: 1px solid #555555;
    user-select: auto;
}

.dialog-question {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    line-height: 1.5;
}

.dialog-button {
    margin: 0px 0 0 5px;
}

.button-1 {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.button-2 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.button-3 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}
